body{
	box-sizing: border-box;
	margin: 0;
	 background-image: url("camden-textured-plain-wallpaper-soft-grey-silver-p4409-10836_thumb.jpg");
}
.yazi{
	margin-left: 10px;
}
.links{
	padding-left: 10px; 
}
.contain{
	text-align: center;
	color: black;
	margin-top: 100px;
}




