body{
	box-sizing: border-box;
	margin: 0;
	background-image: url("camden-textured-plain-wallpaper-soft-grey-silver-p4409-10836_thumb.jpg");
}
.ordered{
	margin-left: 540px;
	margin-top: -200px;
}


