body{
 background-image: url("camden-textured-plain-wallpaper-soft-grey-silver-p4409-10836_thumb.jpg");
}


table{
	width: 600px;
}
th{
	text-align: left;
}
table, th, td{
	border: 1px solid #000;
	border-collapse: collapse;
}